.header{
    font-size: 22px;
    text-align: center;
    height: 30px;
    padding: 5px 5px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.month{
    text-align: center;
    vertical-align: middle;
    color: #FF8000;
    font-size: 30px;
    font-family: arial;
}

h2{
    background-color: black;
}

table th{
    text-align: left;
}

table td{
    padding-bottom: 10px;
    vertical-align: top;
}